<!-- <p>body works!</p> -->
<img src="https://cdn.pixabay.com/photo/2018/06/25/14/27/background-image-3497025_1280.jpg" alt="tree"     height=200px width=100%>
<div class="flx-wbe">
    <div> 
        <h1> What we do</h1>
        <img src="https://cdn.pixabay.com/photo/2018/06/25/14/27/background-image-3497025_1280.jpg" alt="tree" height=100px width=100px>
            <div class="txt-cen">
            <p> 
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, explicabo. Nemo dolores ipsam tenetur nostrum incidunt dolore corrupti magnam magni facilis eum, odio obcaecati impedit
            </p>
            </div>
    </div>
    <div> 
        <h1> What we do</h1>
        <img src="https://cdn.pixabay.com/photo/2018/06/25/14/27/background-image-3497025_1280.jpg" alt="tree" height=100px width=100px>
            <div class="txt-cen">
            <p> 
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, explicabo. Nemo dolores ipsam tenetur nostrum incidunt dolore corrupti magnam magni facilis eum, odio obcaecati impedit
            </p>
            </div>
            
    </div>
    <div> 
        <h1> What we do</h1>
        <img src="https://cdn.pixabay.com/photo/2018/06/25/14/27/background-image-3497025_1280.jpg" alt="tree" height=100px width=100px>
            <div class="txt-cen">
            <p> 
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, explicabo. Nemo dolores ipsam tenetur nostrum incidunt dolore corrupti magnam magni facilis eum, odio obcaecati impedit
            </p>
            </div>
    </div>

</div>