<!-- <p>about works!</p> -->
<!-- <p>contact works!</p> -->

<img src="https://i.pinimg.com/736x/91/4c/8a/914c8ad918ebadc9b8a23a18bd592c6d.jpg" alt="tree"     height=200px width=100%>
<div>
    <div> 
        <h1>About This Application</h1>
        <div class="flx-wbe">
        <img src="https://i.pinimg.com/736x/91/4c/8a/914c8ad918ebadc9b8a23a18bd592c6d.jpg" alt="tree" height=100px width=100px>
            <div class="txt-cen">
            <p class="mar-l"> 
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, explicabo. Nemo dolores ipsam tenetur nostrum incidunt dolore corrupti magnam magni facilis eum, odio obcaecati impedit
            </p>
            </div>
        </div>
    </div>
    <div> 
        <h1>About This Application</h1>
        <div class="flx-wbe">
            <img src="https://i.pinimg.com/736x/91/4c/8a/914c8ad918ebadc9b8a23a18bd592c6d.jpg" alt="tree" height=100px width=100px>
                <div class="txt-cen">
                <p class="mar-l"> 
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, explicabo. Nemo dolores ipsam tenetur nostrum incidunt dolore corrupti magnam magni facilis eum, odio obcaecati impedit
                </p>
                </div>
            </div>
            
    </div>

</div>