<div class="container">
    <form class="container">
        <div class="mar">
      <label for="fname">First Name</label>
      <input class="mar-l" type="text" id="fname" name="firstname" placeholder="Your name..">
    </div>
    <div class="mar">
      <label for="lname">Last Name</label>
      <input class="mar-l" type="text" id="lname" name="lastname" placeholder="Your last name..">
    </div>
    <div class="mar">
      <label for="country">Country</label>
      <select class="mar-l" id="country" name="country">
        <option value="australia">India</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>
    </div>
    <div class="mar">
      <label for="subject">Query</label>
      <textarea class="mar-l" id="subject" name="subject" placeholder="Write something.." style="width:200px"></textarea>
    </div>
      <input class="mar-l" type="submit" value="Submit">
    </form>
  </div>